<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <title>Hogwarts Database</title>
</head>
<body>
  <nav>
    <img src="/Ministry_of_Magic_Latin_Logo.jpg"/ id = "logo">
    <div class ="links-row">

     &#916;  <a href="/students">Home</a>  &#916; <a href="/students/new"> Create new student entry</a> &#916; 
    </div>
  </nav> 

  <div id = "banner">
  </div>
  <%= yield %>
</body>
</html>